<form class="loginForm" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="fieldWrapper">
		{{ form.user_name.errors }}
		<label class="form-label" for="username_field">
			Username:
		</label>
		<input id="username_field" type="text" name="user_name">
	</div>
	<div class="fieldWrapper">
		{{ form.user_password.errors }}
		<label class="form-label" for="password_field">
			Password:
		</label>
		<input id="password_field" type="password" name="password">
	</div>
	<div class="submitWrapper">
		<input type="submit" value="Login">
	</div>
</form>