{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock stylesheets %}

{% block personalscripts %}
    <script>
        $(document).ready( function() {
            $("#conditionSearch").autocomplete({
                source: '{% url 'emergency:condition_search' %}',
                minLength: 0,
                select: function( event, ui ) { 
                    $.ajax({
                        url: '{% url 'emergency:selected_condition' %}',
                        data: { tag: ui.item.value },
                    }).done(function (varieties) {
                        flag = false;

                        html_top = [
                          '<div id="varieties-modal" class="modal">',
                          '  <div class="modal-dialog">',
                          '   <div class="modal-content">',
                          '    <div class="modal-header">',
                          '      <h4 class="modal-title">Select Variety</h4>',
                          '      <button type="button" class="close" data-dismiss="modal">&times;</button>',
                          '    </div>',
                          '    <div class="modal-body">',
                        ].join('');

                        html_btm = [
                          '    </div>',
                          '    <div class="modal-footer">',
                          '      <button class="btn btn-default" data-dismiss="modal">Close</button>',
                          '       <button id="variety-next-btn" class="btn btn-default"> Next</button>',
                          '    </div>',
                          '  </div>',
                          ' </div>',
                          '</div>',
                        ].join('');

                        html_inr = '';
                        for (index in varieties) {
                            flag = true;
                            html_inr += [
                                '<input type="radio" name="varieties"',
                                ' value="', varieties[index].pk,'"> ', varieties[index].name,'<br>',
                            ].join('');
                        }

                        if (flag) {
                            html_full = [
                                html_top,
                                html_inr,
                                html_btm
                            ].join('');

                            $('#variety-div').html(html_full);
                            $('#varieties-modal').modal({ show: false});
                            $('#varieties-modal').modal('show');
                            
                            $('#variety-next-btn').click(function () { 
                                $.ajax({
                                    url: '{% url 'emergency:variety_selected' %}',
                                    data: { tag: $("input[name='varieties']:checked").val() },
                                }).done(function (data) {
                                    $('#varieties-modal').modal('hide');
                                    html_full = [
                                        '<div class="condition-pill"',
                                        '  data-toggle="tooltip" data-placement="bottom"', 
                                        '   title="' + data.variety + '"',
                                        '>',
                                        '  <label class="pill-name">', 
                                        '    ' + data.condition,
                                        '  </label>',
                                        '  <button class="pill-close">x</button>',
                                        '</div>',
                                    ].join('');

                                    $('#selected-pills').append(html_full);
                                    $('.pill-close').click(function () {
                                        $(this).parent().remove();
                                    });
                                });
                           });
                       }
                 });
             }
          });
        });
    </script>
{% endblock personalscripts %}

{% block content %}
    <div class="jumbotron site-banner">
        <h1>
        {% block jumbotron %}
            Web-Med
        {% endblock jumbotron %}
        </h1>
    </div>

    <div class="form form-outer">
        <div class="form-title">
            <h3>
            {% block formtitle %}
                Search emergencies
            {% endblock formtitle %}
            </h3>
        </div>

        {% block filterpanel %}
        <div class="filter-panel">
            <div class="filter-option">
                <label class="filter-label">Type:</label>
                <div class="filter-fieldset">
                    <button class="priority-btn reddish-btn active-red">Priority</button>
                    <button class="priority-btn orange-btn">Non-Priority</button>
                </div>
            </div>
            <div class="filter-option">
                <div class="filter-fieldset" style="margin-right: 25px;">
                    <label class="filter-label">Age:</label>
                    <input type="number" min="0" max="150" name="age" class="filter-field age-field">
                </div>
                <div class="filter-fieldset">
                    <label class="filter-label">Gender:</label>
                    <select class="filter-select">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="filter-option">
                <label class="filter-label">Category:</label>
                <div class="filter-fieldset farthest-apart">
                    <select class="category-btn">
                        <option value="0">None</option>
                        {% for emergencygroup in emergencygroups %}
                        <option value="{{ emergencygroup.id }}">
                            {{ emergencygroup.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="filter-option column-filter">
                <div>
                    <label class="filter-label complaint-label">
                        Presenting Complaints:
                    </label>
                    <button class="clear-btn">clear</button>
                </div>
                <div class="complaints-div">
                    <label class="filter-label">Selected</label>
                    <div id="selected-pills">
                    </div>
                </div>
                <div class="complaints-div">
                    <label for="conditionSearch" class="filter-label">Available</label>
                    <div class="search-div" style="display: inline-block;">
                        <input id="conditionSearch">
                    </div>
                </div>
            </div>
            <div id="variety-div">
            </div>
        </div>
        {% endblock filterpanel %}
    </div>
{% endblock content %}